<script>
    import { extent } from "d3-array";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { radialArea } from "d3-shape";

   // Size and margins
   const width = 1500;
   const height = 530;
   const margin = { top: 20, right: 20, bottom: 20, left: 20 };
   const innerWidth = width - margin.left - margin.right;
   const innerHeight = height - margin.top - margin.bottom;



    //data
    export let data = [];
    export let city;
    export let x0 = 0;
    export let myMax = 0;

    const rad_cir = 85;

    console.log("myMax",myMax)


    //scale
    const xScale = scaleLinear()
    .domain(extent(data.map(d=>d.day_of_year)))
    .range([0, 2*Math.PI]);

    const rScale = scaleRadial()
    .domain([0,myMax])
    .range([0,rad_cir]);

    //h&c
    const Heating = radialArea()
    .angle(d => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius(d => rScale(d.heating));

    const Cooling = radialArea()
    .angle(d => xScale(d.day_of_year))
    .innerRadius(0)
    .outerRadius(d => rScale(d.cooling));

    
</script>

 <!--name of cities-->
 <g transform="translate({x0 - 6*city.length},5)" >
    <text  style="dominant-baseline: middle" > {city}</text>
 </g>

 <!-- create 3 circles-->
 <g transform="translate({x0-20},125)">
    <circle cx=0 cy=0 r={rad_cir} stroke="black" fill="white" stroke-width="2"/>

    <line x1=0 y1={-rad_cir} x2=0 y2={rad_cir} stroke="black" stroke-width=1/>
    <line x1={rad_cir} y1=0 x2={-rad_cir} y2=0 stroke="black" stroke-width=1/>

    <path d={Cooling(data)} fill="blue" stroke="steelblue" fill-opacity="0.45" />
    <path d={Heating(data)} fill="red" stroke="red" fill-opacity="0.45" />  
    
    <!-- Legends for months -->
    <text class="legend" transform="translate(-5,{-rad_cir-5})">0</text>
    <text class="legend" transform="translate({rad_cir+5},5)">3</text>
    <text class="legend" transform="translate(-5,{rad_cir+15})">6</text>
    <text class="legend" transform="translate({-rad_cir-15},5)">9</text>
 </g>

 <!-- Legends for colors-->
 <g transform="translate({margin.left}, {margin.top})" >
    <circle cx="{innerWidth*0.55-310}" cy="190" r="5" fill="steelblue" fill-opacity=0.4 />
    <text x={innerWidth*0.5-220 } y={195} fill-opacity=0.4 > cooling </text>
     
    <circle cx="{innerWidth*0.55-310}" cy="210" r="5" fill="red" fill-opacity=0.4 />
    <text  x="{innerWidth*0.5-220}" y="215" fill-opacity=0.4 >heating</text>
</g>

