<script>
    export let city_select = "Baltimore";
    export let scale_select = "allLines";    
  
    const clickScale = (newScale) => {
      scale_select = newScale;
    };
  
    const clickCity = (newCity) => {
      city_select = newCity;
    };

</script>
  
  <div class="row justify-content-md-center">
    <div class="col-6">      
        <label for="form-check" class="form-label"> City:   

            <div class="form-check">
                <input class="form-check-input" type="radio" name="city-select" id="city1" value = "Los Angeles" checked on:click={() => clickCity("Los Angeles")}>
                <span class="form-check-label" for="city1">
                    Los Angeles
                </span>
            </div>
        
            <div class="form-check">
                <input class="form-check-input" type="radio" name="city-select" id="city2" checked on:click={() => clickCity("Chicago")}>
                <span class="form-check-label" for="city2">
                    Chicago
                </span>
            </div>
        
            <div class="form-check">
                <input class="form-check-input" type="radio" name="city-select" id="city3" checked on:click={() => clickCity("Baltimore")}>
                <span class="form-check-label" for="city3">
                   Baltimore
                </span>
            </div>

        </label> 
    </div>
    
    <div class="col-5">
        <label for="form-check" class="form-label"> Scale:

            <div class="form-check">
                <input class="form-check-input" type="radio" name="scale-select" id="AllLines" value="AllLines" on:click={() => clickScale("across all")}>
                <span class="form-check-label" for="AllLines">
                    All building types
                 </span>
            </div>
        
            <div class="form-check">
                <input class="form-check-input" type="radio" name="scale-select" id="PerLine" value="perLine" on:click={() => clickScale("per line")}>
                <span class="form-check-label" for="PerLine">
                    For each building type
                 </span>
            </div>

        </label>
    </div>
  </div>
