<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import {extent} from 'd3-array';

  import Leaves from "./_design_3_leaves.svelte";

  // Size & margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      <!-- Title/City -->
      <text font-size=25 text-anchor="middle" x={innerWidth/2} y={innerHeight-40} font-weight="bold"> Chicago </text>
      <text font-size=18 text-anchor="middle" x={innerWidth/2} y={innerHeight-15} > December 2014 </text>

      <!-- "y axis" -->
      <line x1={innerWidth/2} y1={innerHeight-75} x2={innerWidth/2} y2={40} stroke="black" stroke-width="1"/>

      <!-- Week 1 -->
      <g transform="translate({(innerWidth/2)},{innerHeight-200}) scale(-1,1) rotate(-20)">
        <Leaves data={data.filter(d => d.week == 48)}  wk_num="1"/>
      </g>
      <text y="{50}" x="20">week {5}</text>
      <!-- Week 2 -->
      <g transform="translate({(innerWidth/2)},{innerHeight-270})  rotate(-20)">
        <Leaves data={data.filter(d => d.week == 49)}  wk_num="2"/>
      </g>
      <text y="{50+80}" x="{innerWidth-80}">week {4}</text>
      <!-- Week 3 -->
      <g transform="translate({(innerWidth/2)},{innerHeight-340})scale(-1,1) rotate(-20)">
        <Leaves data={data.filter(d => d.week == 50)}  wk_num="3"/>
      </g>
      <text y="{50+2*80}" x="20">week {3}</text>
      <!-- Week 4 -->
      <g transform="translate({(innerWidth/2)},{innerHeight-410}) rotate(-20)">
        <Leaves data={data.filter(d => d.week == 51)}  wk_num="4"/>
      </g>
      <text y="{50+3*80}" x="{innerWidth-80}">week {2}</text>
      <!-- Week 5 -->
      <g transform="translate({(innerWidth/2)},{innerHeight-500}) scale(-1,1) rotate(-20)">
        <Leaves data={data.filter(d => d.week == 52)} wk_num="5"/>
      </g>
      <text y="{50+4*80}" x="20">week {1}</text>
      <!-- Legend -->
      <circle cx="{innerWidth*0.35}" cy="450" r="6" fill="orange"/>
      <text x="{innerWidth*0.35 + 20}" y="456">Gas</text>

      <circle cx="{innerWidth*0.55}" cy="450" r="6" fill="blue"/>
      <text x="{innerWidth*0.55 + 20}" y="456">Electricity</text>

      <text x="{innerWidth*0.67}" y="500"> 1 leaf= data for 1 week</text>
    </g>
  </svg>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
