<script>

  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { max } from "d3-array";

  import Circles from './_design_2_circles.svelte';

  // Size and margins
  const width = 900;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  //data
  let data = null;
  const cities = ["Chicago","Baltimore","Los Angeles"]

  onMount(async () => {
    data = await json('/data/daily_heating_cooling.json')
    
  }
  );
  
  function cities_data(data,city) {
    return data.filter(d => d.city == city)
  }

  function max_h_c(data) {
      return max(data, (d) => Math.max(d.heating, d.cooling));
  }


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<div>
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    {#each cities as cts,i}
    <Circles data={cities_data(data,cts)} city={cts} x0={innerWidth/6*(2*i+1)} myMax={max_h_c(data)}/>  
    {/each}
  </g>
</svg>
</div>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
