<script>
        const name='Despoina';
    
        const myList = ['anime','music','art','movies','football','reading'];
        
        
    </script>
    <p>My name is {name} and these are some of my favorite things: {myList} </p>