<script>
  
 const radius = 8;
  
function calculateCircumference(radius) {
  return 2 * Math.PI * radius;
} 
</script>

<p>The circumference of a circle with radius {radius} m is {calculateCircumference(8).toFixed(2)} m.</p>
