<script>
  let count=0  
</script>

<button on:click={() => count+=1}> Number of clicks : {count} </button>

<button on:click={() => count=0}> reset </button>

<style>
    button {
        background-color : grey;
        border: 2px solid black;
    }
</style>