<script>
  import {select} from 'd3-selection';
  import {scaleOrdinal, scaleLinear, scaleLog} from 'd3-scale';
  import {axisBottom, axisLeft} from 'd3-axis';
  import {schemeCategory10} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  export let data;

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let filtered_data = data.filter(item => item.income != null && item.life_exp != null);
  console.log(filtered_data)
  
  let xScale = scaleLog().domain([300, 150000]).range([0, innerWidth]);
  let yScale = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  let color = scaleOrdinal(schemeCategory10);
  let radius = scaleLog().domain(extent(filtered_data.map(item => item.population))).range([2,7]);

  function x_axis(x) {axisBottom(xScale).tickFormat(item => '$' + item).tickValues([400, 4000, 40000])(select(x))};
  function y_axis(y) {axisLeft(yScale)(select(y))};
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  
  <g transform="translate({margin.left}, {margin.top})">
    {#each filtered_data as dp}
       
       <g transform="translate({innerWidth},0})" use:y_axis></g>
      
      <g transform="translate(0, {innerHeight})" use:x_axis></g>
      <!--data points-->
      <circle cx={xScale(dp.income)} cy={yScale(dp.life_exp)} r={radius(dp.population)} fill={color(dp.continent)} style="opacity: .7"></circle>
    {/each}
    <text style="text-anchor: middle; fill: currentColor;" x={-innerHeight/2} y={-32} transform="rotate(-90)">Life Expectancy</text>
    <text style="text-anchor: middle;" x={innerWidth/2} y={height*0.85}>GDP per Capita</text>
    <text style="text-anchor: middle; opacity: .4; font-size: 2.5em;" x={0.9*innerWidth} y={0.95*innerHeight}>1800</text>
    <text style="text-anchor: middle; font-size:2.5em;" x={innerWidth/2} y=0>Gapminder Scatterplot</text>
  </g>
</svg>



