<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { scaleLog } from 'd3-scale';
  import  {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  
  // Array
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog().range([1, width]);
  function xAxis(handle) {axisBottom(scale)(select(handle))}
  function text(handle) {select(handle).append("text")
    .attr("text-anchor", "end")
    .attr("x", (innerWidth/2) + 10)
    .attr("y", height/4)
    .attr("text-anchor", "middle")
    .attr("fill", "currentcolor")
    .attr("font-size", 15)
    .text("x-label");}


</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  <g transform="translate(0, 55)" use:xAxis={"svg"}></g>
  <g transform="translate(0, 65)" use:text={"svg"}></g> 
    <svg width={width}  height={height}>
      {#each values as val}
       <circle cx={scale(val)} cy={innerHeight/2} r=10 style="fill: purple" />
      {/each}       
  </g>
</svg>

