<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import { extent } from 'd3-array';
  import { scaleLinear } from 'd3-scale';
  import { scaleOrdinal } from 'd3-scale';
  import { schemeSet2 } from 'd3-scale-chromatic';
  const scaleX = scaleLinear().range([0, innerWidth]).domain([0,10]);
  const scaleY = scaleLinear().range([0, innerHeight]).domain([3,0]);


  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const scaleC = scaleOrdinal(schemeSet2).domain(extent(values, d => d.category));
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}
        <circle cx={scaleX(val.x)} cy={scaleY(val.y)} r=5 style="fill: {scaleC(val.category)}" />
        <text class="valueLabel" x={scaleX(val.x)} y={scaleY(val.y) - 10}>{val.y}</text>
        <line x1={scaleX(val.x)} x2={scaleX(val.x)} y1={scaleY(val.y)+5} y2=75 stroke="black"></line>
        <line x1="0" x2={innerWidth} y1="75" y2="75" stroke="black"></line>
        {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
